<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste de template</title>
</head>
<body>

    {% include "navbar.html" %}

    {% block content %} {% endblock %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem. Asperiores, autem.</p>
</body>
</html>