<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
        *{
            background-color: #ffe6e6;
            color: #ff3333;
            text-align: center;
            font-family: "Kalam", cursive;
        }
    </style>
</head>
<body>
    <h1>Raíz</h1>
    <p>Resultado:</p>
    <p style="font-size: 200px;"><b>{{resultado}}</b></p>
</body>
</html>