<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatorial</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
        *{
            background-color: #e6e6ff;
            color: #1a1aff;
            text-align: center;
            font-family: "Kalam", cursive;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <h1>Fatorial</h1>
    <!-- <form action="submit">-->
    <form action="fat"> <!--action=nome da acao-->
        <label for="num1">n1: </label> <input style="border-color: #1a1aff; border-radius: 30px;" type="number" id="num1" name="num1" value="4"> <!--parametros-->
        <br><br>
        <input  style="border-color: #1a1aff; border-radius: 30px;" type="submit" value="Enviar">
    </form>
</body>
</html>