input{
    background-color: #00034f;
    color: #ffd9de;
    border-radius: 30px;
    border: #5761f0;
    padding: 10px;
}

input::placeholder{
    color: #ffd9de;
}

button {
    background-color: #00034f;
    color: #ffd9de;
    font-size: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: #5761f0;
}

button:hover {
    background-color:#5761f0;
}