<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soma</title>
</head>
<body>
    <h1>Soma</h1>
    <!-- <form action="submit">-->
    <form action="soma"> <!--action=nome da acao-->
        <label for="n1">n1: </label> <input type="number" id="n1" name="n1" value="5"> <!--parametros-->
        <br><br>
        <label for="n2">n2: </label> <input type="number" id="n2" name="n2" value="10"> <!--parametros-->
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>