<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soma</title>
</head>
<body>
    <h1>Soma</h1>
    <!-- <form action="submit">-->
    <form action="sum"> <!--action=nome da acao-->
        <label for="num1">n1: </label> <input type="number" id="num1" name="num1"> <!--parametros-->
        <br><br>
        <label for="num2">n2: </label> <input type="number" id="num2" name="num2"> <!--parametros-->
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>